.root {
    width: 80%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 12.5%;
    background: #363636;
}


.title {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    color: #008B8B;
    margin: 20px;
}

.navigation {
    width: 100%;
    display: flex;
    background: rgb(20, 18, 18);
}

.banner_container {
    position: relative;
    height: 670px;
    
}

.banner {
    object-fit: cover;
}


