.root {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 12.5%;
    background-color: var(--page-background);
    min-height: calc(100vh - 150px);
    padding-bottom: 50px;
}

.title {
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
    text-transform: uppercase;
    color: var(--title-text-color);
    padding-bottom: 20px;
    border-bottom: solid 1px rgb(77, 13, 13);
}

.secondary_title {
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    color: var(--secondary-title-text-color);
}

.order_list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 0 20px 20px;
    gap: 20px;
    border-bottom: solid 1px rgb(77, 13, 13);
}

.total_amount {
    font-size: 30px;
    font-weight: bold;
    color: rgb(212, 235, 11);
}