.root {
    width: 50%;
    display: flex;
    outline: solid 1px gray; 
    border-radius: 20px;
    padding: 20px;
    background: rgb(5, 64, 78, 0.3);
}

.dish {
    width: 100%;
    display: flex;
    gap: 20px;
}

.dish_count_container,
.dish_info_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.buttons_count_container {
    width: 20%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    
}

.title,
.dish_count {
    font-size: 20px;
    font-weight: bold;
}

.dish_price {
    font-size: 20px;
    font-weight: bold;
    color: rgb(179, 24, 24);
}

.link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.image {
    width: 300px;
    height: 169px;
    border-radius: 10px;
}