.root {
  width: 50%;
}

@media only all and (max-width: 1024px) {
  .root {
    width: 70%;
  }
}

@media only all and (max-width: 640px) {
  .root {
    width: 80%;
  }
}

@media only all and (max-width: 425px) {
  .root {
    width: 90%;
  }
}
