.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 12.5%;
    background: var(--page-background);
    min-height: calc(100vh - 150px);
}

.image_container {
    height: 512px;
    aspect-ratio: 16/9;
    position: relative;
}

.dish_image {
    object-fit: cover;
    
    border-radius: 20px;
}