:root {
  --header-text-color: white;
  --title-text-color: azure;
  --dish-title-text-color: rgb(106, 231, 231);
  --main-text-color: aliceblue;
  --page-background: #363636;
}

:root[theme='dark'] {

}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-size: 16px;
  height: 100vh;
  background: #F2F5FC;
  z-index: 10;
}

.main {
	background: #bcc8e2;
	min-height: calc(100vh - 150px);
}