:root {
  --header-text-color: white;
  --title-text-color: azure;
  --secondary-title-text-color: rgb(106, 231, 231);
  --main-text-color: aliceblue;
  --page-background: #363636;
}

:root[theme="light"] {
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-size: 16px;
  height: 100vh;
  background: #f2f5fc;
  z-index: 10;
}

.main {
  background: #bcc8e2;
  min-height: calc(100vh - 150px);
}

@media only all and (max-width: 1440px) {
  .main {
    background: #363636;
  }
}
