.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--header-text-color);
  font-size: 20px;
  text-transform: capitalize;
}

.user_name {
  position: absolute;
  top: 10px;
  right: 10px;
}

@media only all and (max-width: 1024px) {
  .root {
    font-size: 16px;
  }
}
